<table>
    <tr>
        <td> 
            <div>
                <h2 class="name">
                    {{name}}
                </h2>
                {{charges}}
            </div>
            <div class="objetive">
             {{objetive}}
            </div>
        </td>
        <td>
            <div class="avatar" style="background-image: url({{photo}})"></div>
        </td>
        <td>
            {{email}} <br>
            {{cel}} <br>
            {{ubication}} <br>
            {{social}}<br>
        </td>
    </tr>
</table>
