* {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#container {
    float:left; /*Sirve para colocar los div en una sola linea*/
    text-align: justify;
    margin-left: 20px;
}

.skill {
    background-color: rgb(137, 241, 255);
    border-radius: 5px;
    margin: 5px 2px;
    color:white;
    padding:5px;
}

.position {
    margin-left: 20px;
}