name: CI Angular app through GitHub Actions
on: 
  push:
    branches: [ "release"]
  pull_request:
    branches: [ "release"]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js 16.x
        uses: actions/setup-node@v1
        with:
          node-version: 16.x

      - name: list dir
        run: ls -la
        
      - name: Setup
        run: npm ci

      - name: show node_modules
        run: ls node_modules

      - name: Test
        run: |
          npm test -- --no-watch --no-progress --browsers=ChromeHeadlessCI
